<% content_for :title do %>
  <%=  _('Listing') %>
<% end %>

<div id="tmpfile_form">
  <% form_for :tmpfile, :url => {:action => 'create'},
    :html => {:multipart => true} do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :uploaded_data, _("Upload new file:") %> <br/>
      <%= f.file_field :uploaded_data, :size => 'auto' %>
      <br/><small>(<%= _("100 Mb max") %>)</small>
    </p>
    <p class="submit_buttons">
      <%= f.submit _("Upload") %>
    </p>

  <% end %>
</div>

<% unless @tmpfile_collection.empty? %>
  <h2><%= _("Uploaded files:") %></h2>
  <% @tmpfile_collection.each do |tmpfile|%>
    <div id="item_<%=  tmpfile.id%>"class="tmpfile_container">
      <div class="tmpfile_item">
        <label><%=h tmpfile.filename %></label>
        <br/>
        <small><%= _("The file will be destroyed on") %>
          <%= distance_of_time_in_words(Time.now,
            tmpfile.destroy_datetime) %></small>
        <p>
          <%= link_to "#{root_url}#{tmpfile.hexkey}",
            "#{root_url}#{tmpfile.hexkey}"%>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  document.observe('dom:loaded', function(){
    ele = $("item_<%=  @new_tmpfile_id %>");
    if (ele != null){
      new Effect.Pulsate("item_<%=  @new_tmpfile_id %>");
    }

  });
</script>