<h1><%= @tmpfile.filename %></h1>

<h2><%= link_to _("Download"), :action => 'download',
  :hexkey => @tmpfile.hexkey%></h2>
  
<p><%= _("The file will be destroyed on") %>
  <%= distance_of_time_in_words(Time.now,
    @tmpfile.destroy_datetime) %></p>

<p><%= _("You can return to") %> <%= link_to _("home"), root_path %>
<%= _('for upload a new file') %> </p>
