<h1><%= @tmpfile.filename %></h1>

<p><%= link_to _("Download"), :action => 'download',
    :hexkey => @tmpfile.hexkey%></p>

<p><%= _("You can return to") %> <%= link_to _("home"), root_path %>
<%= _('for upload a new file') %> </p>
